<html>
<head>
	<title>CSC309 Assignment 2</title>
</head>
<body>
	<h3>CSC309 Assignment 2</h3>
	<form action="" method="POST" name="form">
		{% csrf_token %}
		<div>
			<p>Raw Text:</p>
			<textarea name="textarea" style="width:500px;height:200px;">

			</textarea>
		</div>
		<div>
			<p>File:</p>
			<input type="file" name="file">
		</div>
		<div>	
			<p>URL:</p>
			<input type"url" name="url" style="width:200px;">
		</div>
		<br>
		<div>
			<input type="submit" valur="submit">
		</div>
	</form>
</body>
</html>